.timeline-container {
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  /* box-shadow: 1px 1px 5px rgb(161, 161, 161); */
  white-space: nowrap; /* Ngăn chữ xuống dòng trong .timeline-container */
}

/* Điều chỉnh chiều rộng của các sự kiện trong Timeline */
.timeline-event {
  min-width: 200px; /* Đặt chiều rộng tối thiểu cho mỗi sự kiện */
  white-space: nowrap; /* Ngăn chữ xuống dòng trong sự kiện */
  display: inline-block; /* Hiển thị các sự kiện cạnh nhau */
  vertical-align: top; /* Căn sự kiện theo đỉnh container */
  margin-right: 10px; /* Khoảng cách giữa các sự kiện */
}
.Timeline-wrapper-1 {
  position: relative;
  overflow: auto !important;
  width: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

table th {
  background-color: rgb(85, 172, 238);
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

table tr:nth-child(even) td {
  background-color: #f2f2f2;
}

table tr:hover td {
  background-color: rgb(85, 172, 238);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}

table td {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 140px;
  text-align: center;
}
/* type */
.Created {
  background-color: #00cc00;
  border-radius: 20px;
  border-style: none;
  color: #fff;
}

.Updated {
  background-color: yellow;
  border-radius: 20px;
  border-style: none;
  color: #fff;
}

.Cancelled {
  background-color: red;
  border-radius: 20px;
  border-style: none;
  color: #fff;
}
