.search {
  margin-right: 5%;
}
.dong-2 {
  margin-top: 20px;
}
.trang-thai {
  text-align: left;
  margin-left: 0;
}
.ngay-bat-dau {
  margin-left: 394px;
}
.input-date-bd {
  width: 186px;
}
.input-date-kt {
  width: 180px;
}
.centered-table th {
  text-align: center;
}
